<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>
<h2>Cadastro de livros</h2>
<a href="#livrolist">Lista de livro
	<img alt="Lista" src="resources/img/list-icon.png" border="0">
</a>

 <div class="col-md-8">
     <div class="card card-user">
       <div class="card-body">
         <form id="formLivro" ng-submit="salvarLivro()">
           <div class="row">          
             <div class="col-md-5">
               <div class="form-group">
                 <label>ID</label>
                 <input type="text" ng-model="livro.id" class="form-control" disabled>
               </div>
             </div>

             <div class="col-md-5">
               <div class="form-group">
                 <label>ISBN</label>
                 <input type="number" id="isbn" ng-model="livro.isbn" class="form-control" placeholder="ISBN" required="required">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-md-5">
               <div class="form-group">
                 <label>Titulo</label>
                 <input type="text" ng-model="livro.titulo" class="form-control" placeholder="Título" required="required">
               </div>
             </div>
             
             <div class="col-md-5">
               <div class="form-group">
                 <label>Nome</label>
                 <input type="text" ng-model="livro.autor" class="form-control" placeholder="Autor" required="required">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-md-10">
               <div class="form-group">
                 <label>Descrição</label>                 
                 <textarea cols="12" rows="6" maxlength="255" type="text" ng-model="livro.descricao"
                 	class="form-control" placeholder="Descrição" required="required">
                 </textarea>
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-md-5">
               <div class="form-group">
                 <label>Ano</label>
                 <input type="number" class="form-control" ng-model="livro.ano" placeholder="Ano">
               </div>
             </div>

             <div class="col-md-5">
               <div class="form-group">
                 <label>Páginas</label>
                 <input type="number" class="form-control" ng-model="livro.paginas" placeholder="Páginas">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-md-5">
               <div class="form-group">
                 <label>Preço</label>
                 <input id="preco" type="text" class="form-control" ng-model="livro.preco" placeholder="Preço" required="required">
               </div>
             </div>
           
             <div class="col-md-5">
               <div class="form-group">
                 <label>Fornecedores</label>
                 <select id="selectFornecedores" ng-model="livro.fornecedor.id" class="form-control"
                 	ng-init="carregarFornecedores()">
                 	<option value="">Selecione</option>
                 	<option ng-repeat="fornecedor in fornecedores" value="{{fornecedor.id}}">
                 		{{fornecedor.nomeFantasia}}</option>
                 </select>
               </div>
             </div>
           </div>
           
           <div class="row">
             <div class="col-md-5">
               <div class="form-group">
                 <img alt="Foto" id="imagemLivro" src="" style="width: 118px; height: 140px;" border="0">
                 <input type="file" id="file" onchange="javascript:visualizarImg()">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="update ml-auto mr-auto">
               <button type="submit" class="btn btn-primary btn-round">Salvar</button>
               <button type="submit" class="btn btn-primary btn-round" ng-click="$scope.livro={}">Limpar</button>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
 <script type="text/javascript">
 	$("#preco").maskMoney({
		prefix : 'R$ ',
		thousands : '.',
		decimal : ',',
		affixesStay : true
	});
 </script>

</html>